:root{
  --color-dark: #000000;
  --color-dark-alt: #16171C;
  --color-dark-shadow: #00000040;
  --color-light: #fff;
  --color-accent: #FF8100;
  --color-gray: #EFEEE8;

  --border: 1px solid var(--color-dark);
  --border-radius: 25px;
  --border-radius-small: 10px;
  --border-radius-large: 50px;

  --shadow: 0 4px 4 0 var(--color-dark-shadow);

  --font-family-base: 'Montserrat', sans-serif;

  --container-width: 1180px;
  --container-padding-x: 20px;

  //--section-padding-y: 70px;

  --input-height: 70px;
  --button-height: 40px;

  --transition-duration: 0.2s;
}