@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #000000;
  --color-dark-alt: #16171C;
  --color-dark-shadow: #00000040;
  --color-light: #fff;
  --color-accent: #FF8100;
  --color-gray: #EFEEE8;
  --border: 1px solid var(--color-dark);
  --border-radius: 25px;
  --border-radius-small: 10px;
  --border-radius-large: 50px;
  --shadow: 0 4px 4 0 var(--color-dark-shadow);
  --font-family-base: "Montserrat", sans-serif;
  --container-width: 1180px;
  --container-padding-x: 20px;
  --input-height: 70px;
  --button-height: 40px;
  --transition-duration: 0.2s;
}

body {
  font-size: clamp(14px, 1.1111111111vw, 16px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 2;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, .h1 {
  font-weight: 700;
  font-size: clamp(43px, 4.1666666667vw, 60px);
}

h2, .h2 {
  font-size: clamp(36px, 3.6111111111vw, 52px);
}

h3, .h3 {
  font-size: clamp(26px, 2.2222222222vw, 32px);
}

*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

dialog {
  margin: 0;
  border: none;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
}

:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

button {
  -webkit-tap-highlight-color: transparent;
}

:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 1.875em 4.375em;
}
.header__nav {
  display: inherit;
  align-items: inherit;
  column-gap: 3.75em;
}
.header__nav-list {
  display: flex;
  column-gap: 1.5625em;
}
.header__nav-list--mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  text-align: center;
  flex-direction: column;
  row-gap: 0.625em;
}
.header__nav-link {
  transition-duration: var(--transition-duration);
  padding-block: 0.625em;
}
.header__nav-link:hover {
  color: var(--color-accent);
}
.header__mobile-dialog {
  padding: 1.875em var(--container-padding-x);
}
.header__burger, .header__close {
  width: 40px;
  aspect-ratio: 1;
  position: relative;
  border-radius: 50%;
}
.header__burger-icon, .header__close-icon {
  width: 20px;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.header__burger {
  background-color: var(--color-accent);
}
.header__close {
  float: right;
}
.header__action {
  display: flex;
  align-items: center;
  column-gap: 1.875em;
}

.logo__image {
  font-weight: 700;
  font-size: clamp(18px, 1.25vw, 18px);
}

.button {
  font-weight: 700;
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  border: none;
  padding: 0.625em 1.25em;
}
.button--alt {
  background-color: #fff;
  border: var(--border);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8em;
  margin-bottom: 4.375em;
}
@media (max-width: 1023px) {
  .hero {
    column-gap: 1.25em;
  }
}
@media (max-width: 767px) {
  .hero {
    flex-direction: column-reverse;
    row-gap: 1.25em;
  }
}
.hero__body {
  min-width: 29.0625em;
  display: flex;
  flex-direction: column;
  row-gap: 1.25em;
}
@media (max-width: 767px) {
  .hero__body {
    min-width: 90%;
    margin-inline: auto;
    max-width: 43.75em;
  }
}
.hero__title {
  line-height: 1.3333333333em;
}
@media (max-width: 767px) {
  .hero__title {
    text-align: center;
  }
}
.hero__actions {
  display: flex;
  column-gap: 1.125em;
}
@media (max-width: 767px) {
  .hero__actions {
    margin: auto;
  }
}
.hero__features-list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1em;
}
.hero__features-item {
  font-size: clamp(16px, 0.9722222222vw, 14px);
  position: relative;
  padding-left: 0.9375em;
}
.hero__features-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20%;
  translate: -50%;
  background: url("/images/icons/check.svg") center/cover no-repeat;
  width: 15px;
  aspect-ratio: 1;
}
.hero__media {
  max-width: 33.75em;
  width: 100%;
}

.features {
  margin-bottom: 5.625em;
}
.features__title {
  max-width: 15.9615384615em;
  line-height: 1.1538461538em;
  margin-inline: auto;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1.0576923077em;
}
.features__list {
  display: flex;
  column-gap: 0.9375em;
}
@media (max-width: 767px) {
  .features__list {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
  }
}
@media (max-width: 767px) {
  .features__item {
    scroll-snap-align: start;
  }
}

.features-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  row-gap: 1.25em;
  background-color: var(--color-gray);
  border-radius: var(--border-radius);
  padding: 1.875em 1.875em 0;
}
@media (max-width: 767px) {
  .features-card {
    width: 70vw;
  }
}
.features-card__title {
  line-height: 1.25em;
  font-size: clamp(16px, 1.6666666667vw, 24px);
}
.features-card__description {
  line-height: 1.2857142857em;
  font-size: clamp(16px, 0.9722222222vw, 14px);
}
.features-card__image {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.role {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5.625em;
}
@media (max-width: 767px) {
  .role {
    grid-template-columns: 1fr;
    justify-self: center;
  }
}
.role__body {
  display: flex;
  flex-direction: column;
  row-gap: 1.875em;
  max-width: 28.125em;
  width: 100%;
  margin-inline: auto;
}
.role__title {
  margin-top: 0.2884615385em;
  font-weight: 600;
  line-height: 1.1538461538em;
}
@media (max-width: 767px) {
  .role__title {
    text-align: center;
  }
}
.role__list {
  display: flex;
  flex-direction: column;
  row-gap: 0.9375em;
}
.role__item {
  position: relative;
  padding-left: 0.9375em;
}
.role__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20%;
  translate: -50%;
  background: url("/images/icons/check.svg") center/cover no-repeat;
  filter: brightness(0) saturate(100%) invert(58%) sepia(57%) saturate(938%) hue-rotate(121deg) brightness(98%) contrast(89%);
  width: 15px;
  aspect-ratio: 1;
}
@media (max-width: 767px) {
  .role__media {
    margin-inline: auto;
    max-width: 70%;
  }
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5.625em;
}
@media (max-width: 767px) {
  .dashboard {
    grid-template-columns: 1fr;
    justify-self: center;
  }
}
.dashboard__body {
  display: flex;
  flex-direction: column;
  row-gap: 1.875em;
  max-width: 28.125em;
  width: 100%;
  margin-inline: auto;
}
@media (max-width: 767px) {
  .dashboard__body {
    order: 1;
  }
}
.dashboard__title {
  margin-top: 0.2884615385em;
  font-weight: 600;
  line-height: 1.1538461538em;
}
@media (max-width: 767px) {
  .dashboard__title {
    text-align: center;
  }
}
.dashboard__list {
  display: flex;
  flex-direction: column;
  row-gap: 0.9375em;
}
.dashboard__item {
  position: relative;
  padding-left: 0.9375em;
}
.dashboard__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20%;
  translate: -50%;
  background: url("/images/icons/check.svg") center/cover no-repeat;
  filter: brightness(0) saturate(100%) invert(58%) sepia(57%) saturate(938%) hue-rotate(121deg) brightness(98%) contrast(89%);
  width: 15px;
  aspect-ratio: 1;
}
@media (max-width: 767px) {
  .dashboard__media {
    margin-inline: auto;
    max-width: 70%;
  }
}

.products {
  margin-bottom: 5.625em;
}
.products__title {
  max-width: 10.2884615385em;
  line-height: 1.1538461538em;
  margin-inline: auto;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1.25em;
}
.products__list {
  display: flex;
  column-gap: 0.9375em;
  justify-content: start;
}
@media (max-width: 767px) {
  .products__list {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
  }
}
@media (max-width: 767px) {
  .products__item {
    min-width: 70vw;
    scroll-snap-align: start;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  row-gap: 0.8125em;
  padding: 1.0625em 1.25em;
  background-color: var(--color-gray);
  border-radius: var(--border-radius);
  height: 100%;
}
.product-card__icon {
  color: var(--color-accent);
  background-color: var(--color-light);
  padding: 10px;
  border-radius: 10px;
  width: 55px;
  aspect-ratio: 1;
}
.product-card__title {
  line-height: 1.3888888889em;
  font-weight: 500;
  font-size: clamp(16px, 1.25vw, 18px);
}

.testimonials {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: var(--color-gray);
  padding-block: 2.1875em;
  margin-bottom: 5.625em;
}
@media (max-width: 1023px) {
  .testimonials {
    flex-direction: column;
  }
}
@media (max-width: 1023px) {
  .testimonials__hand {
    width: 30%;
  }
}
@media (max-width: 1023px) {
  .testimonials__hand--left {
    align-self: start;
  }
}
@media (max-width: 1023px) {
  .testimonials__hand--right {
    align-self: end;
  }
}
.testimonials__body {
  padding-block: 6.5625em 6.25em;
  display: flex;
  flex-direction: column;
  row-gap: 3.4375em;
  align-self: center;
  max-width: 44.125em;
}
@media (max-width: 1023px) {
  .testimonials__body {
    padding-block: 1.25em;
  }
}
@media (max-width: 767px) {
  .testimonials__body {
    padding-inline: 1.25em;
  }
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  row-gap: 1.875em;
}
.testimonial-card__user {
  display: flex;
  flex-direction: column;
}
.testimonial-card__user-image {
  border-radius: 50%;
  margin-bottom: 0.375em;
  width: 50px;
  aspect-ratio: 1;
}
.testimonial-card__user-name {
  font-weight: 600;
}
.testimonial-card__text {
  font-style: italic;
  line-height: 1.3636363636em;
  font-size: clamp(16px, 1.5277777778vw, 22px);
}

.pagination__list {
  display: flex;
  column-gap: 0.625em;
}
.pagination__item {
  position: relative;
  width: 80px;
}
.pagination__item::before {
  position: absolute;
  content: "";
  width: 83px;
  height: 2px;
  background-color: var(--color-dark-shadow);
}
.pagination__item--active::before {
  background-color: var(--color-dark);
}

.download {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2.1875em;
  align-items: center;
}
@media (max-width: 767px) {
  .download {
    grid-template-columns: 1fr;
    justify-self: center;
  }
}
.download__body {
  display: flex;
  flex-direction: column;
  row-gap: 1.875em;
  max-width: 34.0625em;
  width: 100%;
  margin-inline: auto;
}
@media (max-width: 767px) {
  .download__body {
    order: 1;
  }
}
.download__title {
  font-weight: 600;
  line-height: 1.1538461538em;
}
@media (max-width: 767px) {
  .download__title {
    text-align: center;
  }
}
.download__features-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.9375em;
}
.download__features-item {
  position: relative;
  padding-left: 0.9375em;
}
.download__features-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20%;
  translate: -50%;
  background: url("/images/icons/check.svg") center/cover no-repeat;
  filter: brightness(0) saturate(100%) invert(58%) sepia(57%) saturate(938%) hue-rotate(121deg) brightness(98%) contrast(89%);
  width: 15px;
  aspect-ratio: 1;
}
.download__media {
  display: flex;
  column-gap: 1.5em;
}
@media (max-width: 767px) {
  .download__media {
    margin-inline: auto;
    max-width: 70%;
  }
}
.download__image {
  border-radius: var(--border-radius-small);
}

.footer {
  background-color: var(--color-dark-alt);
  color: var(--color-light);
  padding-block: 4.375em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 5.9375em;
}
.footer__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 1.25em;
  row-gap: 1.875em;
}
@media (max-width: 767px) {
  .footer__nav {
    flex-wrap: wrap;
  }
}
.footer__logo {
  font-weight: 700;
}
.footer__brand, .footer__column, .footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.25em;
}
@media (max-width: 767px) {
  .footer__brand, .footer__column, .footer__list {
    flex-shrink: 1;
  }
}
.footer__extra {
  text-align: center;
}

.subscribe {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5625em;
}
@media (max-width: 767px) {
  .subscribe {
    flex-direction: column;
  }
}
.subscribe__title {
  width: 100%;
}
@media (max-width: 767px) {
  .subscribe__title {
    text-align: center;
  }
}
.subscribe__form {
  position: relative;
}
.subscribe__email {
  height: var(--input-height);
  max-width: 36.5625em;
  border-radius: var(--border-radius);
  padding-inline: 1.5625em 10.625em;
  outline: none;
}
.subscribe__button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  top: 10px;
  width: 9.0625em;
}

/*# sourceMappingURL=styles.css.map */
